@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body{
  background-color: #2b134b;
  margin: 0;
  font-family: 'Noto Sans',sans-serif;
  height: 0;
  box-sizing: border-box;
}
body *{
  box-sizing: border-box;
}
body .principal{
  background: floralwhite;
}
.main-login{
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login > h1{
  font-size: 3vw;
  color: #77ffc0;

}
.img{
  width: 35vw;
}
.img-google{
  width: 40px;
  padding-left: 10px;
}
.link{
  font-size: 20px;
  color: #0dbd6b;
}
p{
  
  color: aliceblue;
  size: 10px;
  margin-top: 0;
  font-style:italic;
  text-align: center;
}
.ou{
  margin: 0;
  margin-top: 5px;
  text-align: center;
}
.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
  color: #00ff88;
  font-weight: 800;
}

.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.textfield > input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}
.textfield > label{
  color: #f0ffffde;
  margin-bottom: 10px;

}
.textfield > input::placeholder{
  color:#f0ffff94;
}
.btn-login{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.container{
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.column{
  flex-basis: 20%;
  padding: 10px;
  box-sizing: border-box;
}
.column,.anexo > label{
  color: rgb(2, 0, 0);
  
}

.principal label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.principal [type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
input[type="date"],
input[type="file"]{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #3b3939;
  box-sizing: border-box;
}
#experiencias{
  width: 30vw;
}

.principal [type="submit"]{
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  margin-top: -100vh;
}

.principal [type="submit"]:hover{
  background-color: #45a049;
}
/*.principal textarea{
  width: 50vw;
}*/
.principal #anexo_pdf{
  width: 30vw;
}
.principal #cadastro{
  justify-content:center;
}
fieldset{
  margin: 0%;
  border: none;
  
}
.navbar {
  background-color: #2b134b;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar-logo {
  margin-left: 20px;
}

.navbar-logo img {
  height: 40px;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navbar a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #ddd;
}

.search-container {
  float: right;
}

.search-container input[type=text] {
  padding: 6px;
  margin-left: 10pt;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.search-container button:hover {
  background: #ccc;
}
.cabecalho > div > img{
  margin-bottom: 70vh;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
footer{
  background: #0f1110;
  height: auto;
  width: auto;
  border-radius: 1px;
  border: none;
}
.pp{
  display: grid;
  grid-template-rows: auto auto auto;
  
}
@media only screen and (max-width: 950px){
  .card-login{
    width: 85%;
  }
}
@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
    
  }
  .left-login > h1{
    display: none;

  }
  .left-login > img{
    display: none;
  }
  .left-login{
    width: 100%;
    height: auto;

  }
  .right-login{
    width: 100%;
    height: auto;
  }
  .left-login-image{
    width: 50vw;
  }
  .card-login{
    width: 90%;

  }
  .container{
    width: auto;
    height: 100vh;
    display: flex;
  }
  .navbar{
    width: 50vw;
  }
  .navbar-menu{
      width: 100vw;
  }
  .navbar a {
    size: 5px;
  }
  .navbar-logo{
    display: none;
  }
}