{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'estilo/estilo.css' %}">

  <title>Cadastre sua Empresa</title>

  </head>
  <body>
    <div class="pp">
      <div>
        <nav>
          <div class="navbar">
            <div class="navbar-logo">
              <a class="link" href="{% url 'index'%}">
              <img src="{% static 'img/logo.png'%}" alt="Logo da Empresa"></a>
            </div>
            <div class="navbar-menu">
              <a href="{% url 'index'%}">&#8962; Home</a>
              <a href="#">&#9742; Contatos</a>
              <a href="#">Sobre</a>
            </div>
            <div class="search-container">
              <input type="text" placeholder="Pesquisar">
              <button type="submit">Buscar</button>
            </div>
        </nav>
      </div>
    <form action="#" method="POST" enctype="multipart/form-data">
      <fieldset class="principal">
        <h2>Cadastro de Empresas</h2>
        <div class="container">
          <div class="column">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" required>

              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required>

              <label for="senha">Senha:</label>
              <input type="password" id="senha" name="senha" required>

              <label for="rua">Rua:</label>
              <input type="text" id="rua" name="rua" required>
          </div>
          <div class="column">
              <label for="cidade">Cidade:</label>
              <input type="text" id="cidade" name="cidade" required>

              <label for="bairro">Bairro:</label>
              <input type="text" id="bairro" name="bairro" required>

              <label for="numero">Numero:</label>
              <input type="text" id="numero" name="numero" required>

        

              <label for="cnpj">CNPJ:</label>
              <input type="text" id="cnpj" name="cnpj" required>
          
            </div>

            <div class="column">
              <label for="experiencias">Area de atuação</label>
             <textarea id="experiencias" name="experiencias" rows="4" cols="50"></textarea>
      
              <label for="anexo_pdf">Contatos:</label>
             <input type="text" id="anexo_pdf" name="anexo_pdf" required>
              
             
              </div>
              

        </div>
        <p><input id="cadastro" type="submit" value="Cadastrar"></p> 
     </fieldset>
   </form>

   <footer>
    <div>
      <P></P>
      <P></P>
      <P>&copy; 2023</P>
      
    </div>
   </footer>
  </div>
  </body>
</html>