{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'estilo/estilo.css' %}">
  
  <title>Tela inicial</title>
</head>
<body>
  <div>
   
  <div class="main-login">
    <header>
      <div class="cabecalho">
        
         <!-- <div><img src="{% static 'img/logo.png'%}"></div>-->
      </div>
    </header>
    <div class="left-login">
      <h1>JobFinder</h1> 
      <img src="{% static 'img/trabalho.svg'%}" class="img" alt="Trabalho">
    </div>
    <div class="right-lgin">
     
     <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
     
     
      <div class="card-login">
        <h1>Login</h1>
        <div class="textfield">
          <label for="usuario">Usuario</label>
          <input type="text" name="usuario" placeholder="usuario">
        </div>

        <div class="textfield">
          <label for="senha">Senha</label>
          <input type="password" name="senha" placeholder="senha">
        </div>
          <p style="color: rgb(233, 54, 54);font-family: Arial, Helvetica, sans-serif;">{{print}}</p>
          <button type="submit" class="btn-login"><!--< style="text-decoration: none;" href="{% url 'feed'%}"></a>-->Login</button>
        

          <div>
            <a style="text-decoration: none;" class="link" href="{% url 'escolha'%}">Cadastre-se</a>
          <!---  <P class="ou">Ou Acesse com</P>
          <a href="#"><img src="{% static 'img/google.png '%}" class="img-google" alt=""></a>
          <a href="#"><img src="{% static 'img/face.png' %}" class="img-google" alt=""></a>-->
        </div>
        </div>
        </div>
      </div>
    </form>
    </div>

    </div>
  </div>
  
</body>
</html>